%%% -*- mode:erlang -*-
{erl_opts, [{parse_transform, lager_transform}]}.
{sub_dirs, ["examples"]}.
{deps, [
       {lager, "", {git, "git://github.com/basho/lager.git", "master"}}
       ,{yamler, "", {git, "git://github.com/MSch/yamler.git", "master"}}
       ,{parse_trans, "", {git, "https://github.com/uwiger/parse_trans.git", "master"}}
       ,{jsx, "", {git, "git://github.com/talentdeficit/jsx.git", {branch, "master"}}}
       ,{hackney, "", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}}
       ]}.
